/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

@font-face 
                                                         
{
    font-family:"Besmellah 2";
                                                         
  src:url("Besmellah_2.eot?") 
                                                          
  format("eot"),url("Besmellah_2.woff") 
                                                          
  format("woff"),url("Besmellah_2.ttf") 
                                                          
  format("truetype"),url("Besmellah_2.svg#Besmellah2") 
                                                          
  format("svg");
                                                          
  font-weight:normal;
                                                                        
                                                          
  font-style:normal;}
